---
deployment: prod
debug: true
pkg_tool: fedpkg
fas_user: packit
keytab_path: /secrets/fedora.keytab
validate_webhooks: true

{{ vault.packit_service | to_nice_yaml }}

server_name: prod.fedora-source-git.packit.dev
# dashboard_url: https://dashboard.fedora-source-git.packit.dev
