aws:
    access_key_id: ""
    secret_access_key: ""

flower:
    basic_auth: <user>:<passwd>[,<user>:<passwd>]

packit_service: {{ packit_service.authentication }}

postgres:
    user: <user>
    password: <passwd>
    host: postgres
    database: <db name>

redis_commander:
    user: <user>
    password: <passwd>

sentry:
    dsn: ""

splunk:
    hec:
        host: ""
        port: "443"
        token: ""
