postgres:
    user: {{ postgres_user }}
    password: {{ postgres_password }}
    host: {{ postgres_host }}
    database: {{ postgres_database }}
redis_commander:
    user: {{ redis_commander_user }}
    password: {{ redis_commander_password }}
flower:
    basic_auth: {{ flower_basic_auth }}
aws:
    access_key_id: ""
    secret_access_key: ""
sentry:
    dsn: ""
splunk:
    hec:
        host: ""
        port: "443"
        token: ""
