---
deployment: dev
debug: true
fas_user: {{ fas_user }}
fas_password: {{ fas_passwd }}
keytab_path: /secrets/fedora.keytab

authentication:
  src.fedoraproject.org:
    instance_url: https://src.fedoraproject.org
    # user's API Key from https://src.fedoraproject.org/settings#nav-api-tab
    token: {{ package_api_key }}
  github.com:
    # https://github.com/organizations/packit-service/settings/apps/packit-as-a-service
    github_app_id: "{{ github_app_id }}"
    # openssl rsa -in PATH_TO_PEM_FILE -pubout -outform DER | openssl sha1 -c
    github_app_private_key_path: /secrets/private-key.pem

validate_webhooks: False
webhook_secret: <webhook_secret>
testing_farm_secret: <testing-farm-secret>
gitlab_token_secret: <gitlab-token-secret>

command_handler: {{ command_handler }}
command_handler_work_dir: /tmp/sandcastle
command_handler_image_reference: quay.io/packit/sandcastle
command_handler_k8s_namespace: packit-dev-sandbox
command_handler_pvc_volume_specs:
  - path: /repository-cache
    pvc_from_env: SANDCASTLE_REPOSITORY_CACHE_VOLUME

repository_cache: /repository-cache
# The maintenance of the cache (adding, updating) is done externally,
# not in the packit/packit-service code.
add_repositories_to_repository_cache: false

server_name: "{{ server_hostname }}:{{ server_port }}"
dashboard_url: "https://{{ server_hostname }}:{{ server_port }}"
