---
deployment: stg
debug: true
pkg_tool: fedpkg
fas_user: packit-stg
keytab_path: /secrets/fedora.keytab
validate_webhooks: true

{{ vault.packit_service | to_nice_yaml }}

server_name: stg.fedora-source-git.packit.dev
# dashboard_url: https://dashboard.stg.fedora-source-git.packit.dev

package_config_path_override: .distro/source-git.yaml
