vars/**/*.yml
!vars/**/*template.yml

.idea/
.DS_Store

secrets/packit/prod/*
secrets/packit/stg/*
secrets/stream/prod/*
secrets/stream/stg/*
secrets/fedora-source-git/prod/*
secrets/fedora-source-git/stg/*
!secrets/**/*.j2
!secrets/**/ssh_config

# Ignore any ‹dev› secrets
secrets/*/dev/*

# used in move_stable script
move_stable_repositories
