vars/**/*.yml
!vars/**/*template.yml

.idea/
.DS_Store

secrets/packit/prod/*
secrets/packit/stg/*
secrets/stream/prod/*
secrets/stream/stg/*
secrets/fedora-source-git/prod/*
secrets/fedora-source-git/stg/*
!secrets/**/*.j2
!secrets/**/ssh_config

# used in move_stable script
move_stable_repositories

# secrets for validation
cron-jobs/packit-service-validation/secrets
