# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name: packit-github-token
type: Opaque
data:
  token: "{{ lookup('file', '{{ path_to_secrets }}/github_token', rstrip=False) | b64encode }}"
