# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name: copr-config
type: Opaque
data:
  copr: "{{ lookup('file', '{{ path_to_secrets }}/copr') | b64encode }}"
