---
deployment: prod
debug: true
pkg_tool: centpkg
validate_webhooks: true

{{ vault.packit_service | to_nice_yaml }}

gitlab_mr_targets_handled:
- repo: redhat/centos-stream/src/.+
  branch: c9s

enabled_private_namespaces:
  - gitlab.com/redhat/centos-stream
  - gitlab.com/redhat/centos-stream/src

server_name: prod.stream.packit.dev
dashboard_url: https://dashboard.stream.packit.dev
