---
deployment: stg
debug: true
fas_user: packit-stg
keytab_path: /secrets/fedora.keytab
comment_command_prefix: "/packit-stg"
validate_webhooks: true

{{ vault.packit_service | to_nice_yaml }}

testing_farm_api_url: https://api.staging.testing-farm.io/v0.1/
enabled_projects_for_internal_tf:
  - github.com/packit/hello-world
  - github.com/oamg/convert2rhel
  - github.com/oamg/leapp
  - github.com/oamg/leapp-repository
  - github.com/rhinstaller/anaconda
  - github.com/r0x0d/leapp-packit-poc
  - github.com/teemtee/tmt
  - github.com/RedHat-SP-Security/keylime-tests
  - github.com/RedHat-SP-Security/keylime_server-role-tests
  - github.com/jontrossbach/xdp-tools
  - github.com/neoave/mrack
  - github.com/freeipa/freeipa
  - github.com/linux-system-roles/keylime_server
  - github.com/RedHat-SP-Security/keylime-selinux
  - github.com/containers/aardvark-dns
  - github.com/containers/buildah
  - github.com/containers/container-selinux
  - github.com/containers/crun
  - github.com/containers/netavark
  - github.com/containers/podman
  - github.com/containers/skopeo
  - github.com/ptoscano/insights-client
  - github.com/RedHatInsights/insights-client
  - github.com/RedHatInsights/rhc
  - github.com/theforeman/foreman-installer
  - github.com/RedHatInsights/yggdrasil
  - github.com/RedHatInsights/yggdrasil-worker-package-manager


command_handler: sandcastle
command_handler_work_dir: /tmp/sandcastle
command_handler_image_reference: quay.io/packit/sandcastle:stg
command_handler_k8s_namespace: {{ sandbox_namespace }}
command_handler_pvc_volume_specs:
  - path: /repository-cache
    pvc_from_env: SANDCASTLE_REPOSITORY_CACHE_VOLUME
    read_only: true
command_handler_storage_class: aws-ebs

repository_cache: /repository-cache
# The maintenance of the cache (adding, updating) is done externally,
# not in the packit/packit-service code.
add_repositories_to_repository_cache: false

appcode: PCKT-002

admins:  # GitHub usernames
  - jpopelka
  - lachmanfrantisek
  - lbarcziova
  - TomasTomecek
  - thrix  # Miro Vadkerti
  - psss  # Petr Splichal
  - csomh
  - mfocko
  - majamassarini
  - nforro

enabled_private_namespaces:
  - gitlab.com/redhat/centos-stream
  - gitlab.com/redhat/centos-stream/src

enabled_projects_for_srpm_in_copr:
  - github.com/packit/hello-world

server_name: stg.packit.dev
dashboard_url: https://dashboard.stg.packit.dev

projects_to_sync:
  - forge: https://github.com
    repo_namespace: packit
    repo_name: packit
    branch: main
    dg_branch: rawhide
    dg_repo_name: packit

  - forge: https://github.com
    repo_namespace: packit
    repo_name: ogr
    branch: main
    dg_branch: rawhide
    dg_repo_name: python-ogr

  - forge: https://github.com
    repo_namespace: packit
    repo_name: requre
    branch: main
    dg_branch: rawhide
    dg_repo_name: python-requre
