Host pkgs.fedoraproject.org
    User packit-stg
    Hostname pkgs.fedoraproject.org

    IdentitiesOnly yes
    IdentityFile /home/packit/.ssh/id_ed25519

# Used for the CentOS and CentOS SIGs' dist git repositories
Host gitlab.com
    User git
    Hostname gitlab.com

    IdentitiesOnly yes
    IdentityFile /home/packit/.ssh/id_ed25519
