---
deployment: prod
debug: true
fas_user: packit
keytab_path: /secrets/fedora.keytab
validate_webhooks: true

{{ vault.packit_service | to_nice_yaml }}

testing_farm_api_url: https://api.dev.testing-farm.io/v0.1/
enabled_projects_for_internal_tf:
  - github.com/packit/hello-world
  - github.com/oamg/convert2rhel
  - github.com/rhinstaller/anaconda
  - github.com/r0x0d/leapp-packit-poc
  - github.com/teemtee/tmt

allowed_forge_projects_for_copr_project:
  "@aufover/predator":
    - github.com/kdudka/predator
  "@cockpit/cockpit-preview":
    - github.com/cockpit-project/cockpit
    - github.com/cockpit-project/cockpit-certificates
    - github.com/cockpit-project/cockpit-machines
    - github.com/cockpit-project/cockpit-ostree
    - github.com/cockpit-project/cockpit-podman
  "@codescan/csdiff":
    - github.com/csutils/csdiff
    - github.com/csutils/cswrap
  "@codescan/csutils":
    - github.com/csutils/csmock
    - github.com/csutils/cscppc
    - github.com/csutils/cswrap
    - github.com/csutils/csdiff
  "@java/javapackages-validator":
    - github.com/fedora-java/javapackages-validator
  "@meta/dcrpm":
    - github.com/facebookincubator/dcrpm
  "@meta/drgn":
    - github.com/osandov/drgn
  "@meta/go2chef":
    - github.com/facebookincubator/go2chef
  "@meta/netconsd":
    - github.com/facebook/netconsd
  "@meta/pystemd":
    - github.com/facebookincubator/pystemd
  "@meta/time":
    - github.com/facebook/time
  "@oamg/convert2rhel":
    - github.com/oamg/convert2rhel
  "@oamg/leapp":
    - github.com/oamg/leapp
    - github.com/oamg/leapp-repository
  "@OKD/okd":
    - github.com/cri-o/cri-o
  "@osbuild/osbuild":
    - github.com/osbuild/osbuild
  "@osbuild/osbuild-composer":
    - github.com/osbuild/osbuild-composer
  "@osbuild/cockpit-composer":
    - github.com/osbuild/cockpit-composer
  "@rhinstaller/Anaconda":
    - github.com/rhinstaller/anaconda
    - github.com/rhinstaller/initial-setup
    - github.com/rhinstaller/dasbus
    - github.com/rhinstaller/python-meh
    - github.com/rhinstaller/python-simpleline
  "@rhinstaller/Anaconda-devel":
    - github.com/rhinstaller/anaconda
    - github.com/rhinstaller/initial-setup
    - github.com/rhinstaller/dasbus
    - github.com/rhinstaller/python-meh
    - github.com/rhinstaller/python-simpleline
    # It's present in the package list:
    # https://copr.fedorainfracloud.org/coprs/g/rhinstaller/Anaconda-devel/packages/
    # but not configured to be used by Packit.
    # github.com/pykickstart/pykickstart
  jkonecny/kakoune:
    - github.com/jkonecny12/kakoune
  lachmanfrantisek/testing-project-for-packit-3:
    - github.com/packit/hello-world
  lenkaseg/datagrepper:
    - github.com/fedora-infra/datagrepper
  martinpitt/test-fixes:
    - github.com/martinpitt/cockpit
    - github.com/martinpitt/cockpit-composer
    - github.com/martinpitt/cockpit-ostree
    - github.com/martinpitt/cockpit-podman
    - github.com/martinpitt/umockdev
  mfocko/python-unidiff:
    - github.com/mfocko/python-unidiff
  mmassari/automate-home:
    - github.com/majamassarini/automate-home
  mmassari/knx-stack:
    - github.com/majamassarini/knx-stack
  "packit/packit-dev":
    - github.com/packit/packit
    - github.com/packit/ogr
    - github.com/packit/specfile
  "packit/packit-releases":
    - github.com/packit/packit
    - github.com/packit/ogr
    - github.com/packit/specfile
  "packit/packit-stable":
    - github.com/packit/packit
    - github.com/packit/ogr
    - github.com/packit/specfile
  psss/did:
    - github.com/psss/did
  psss/fmf:
    - github.com/teemtee/fmf
  psss/python-nitrate:
    - github.com/psss/python-nitrate
  psss/tmt:
    - github.com/teemtee/tmt
  rolivier/leapp-packit-poc:
    - github.com/r0x0d/leapp
    - github.com/r0x0d/leapp-packit-poc
  t0xic0der/fedora-messaging:
    - github.com/fedora-infra/fedora-messaging
  ttomecek/rpm-python-38:
    - github.com/TomasTomecek/rpm

command_handler: sandcastle
command_handler_work_dir: /tmp/sandcastle
command_handler_image_reference: quay.io/packit/sandcastle:prod
command_handler_k8s_namespace: packit-prod-sandbox
command_handler_pvc_volume_specs:
  - path: /repository-cache
    pvc_from_env: SANDCASTLE_REPOSITORY_CACHE_VOLUME
    read_only: true

repository_cache: /repository-cache
# The maintenance of the cache (adding, updating) is done externally,
# not in the packit/packit-service code.
add_repositories_to_repository_cache: false

admins:  # GitHub usernames
  - jpopelka
  - lachmanfrantisek
  - lbarcziova
  - TomasTomecek
  - thrix  # Miro Vadkerti
  - psss  # Petr Splichal
  - csomh
  - mfocko
  - majamassarini

server_name: prod.packit.dev
dashboard_url: https://dashboard.packit.dev

projects_to_sync:
  - forge: https://github.com
    repo_namespace: packit
    repo_name: packit
    branch: main
    dg_branch: rawhide
    dg_repo_name: packit

  - forge: https://github.com
    repo_namespace: packit
    repo_name: ogr
    branch: main
    dg_branch: rawhide
    dg_repo_name: python-ogr

  - forge: https://github.com
    repo_namespace: packit
    repo_name: requre
    branch: main
    dg_branch: rawhide
    dg_repo_name: python-requre
