---
deployment: prod
debug: true
fas_user: packit
keytab_path: /secrets/fedora.keytab
validate_webhooks: true

# {{ ansible_managed }}
# Please adjust the values in the respective logins in the Bitwarden Vault
authentication:
{% for forge in git_forges %}
{% set fields = forge['fields'] | items2dict(key_name='name') %}
  {{ forge['name'] }}:
    instance_url: {{ forge['login']['uris'][0].uri }}
    # Login: {{ forge['login']['username'] }}
    # Token name: {{ fields.get('token:name') }}
    # Scope: {{ fields.get('token:permissions') }}
    # Expiration: {{ fields.get('token:expiration') }}
    token: {{ fields.get('token:key') }}
{% if 'type' in fields and 'github_app' in fields['type'] %}
    # GitHub App set up
    github_app_id: '{{ fields.get('app_id') }}'
    github_app_private_key_path: {{ fields.get('app_private_key_path') }}
{% endif %}
{% if 'token:type' in fields %}
    type: {{ fields.get('token:type') }}
{% endif %}

{% endfor %}

{{ vault.packit_service | to_nice_yaml }}

testing_farm_api_url: https://api.testing-farm.io/v0.1/
enabled_projects_for_internal_tf:
  - github.com/packit/hello-world
  - github.com/packit/specfile
  - github.com/oamg/convert2rhel
  - github.com/oamg/leapp
  - github.com/oamg/leapp-repository
  - github.com/rhinstaller/anaconda
  - github.com/r0x0d/leapp-packit-poc
  - github.com/teemtee/tmt
  - github.com/RedHat-SP-Security/keylime-tests
  - github.com/RedHat-SP-Security/keylime_server-role-tests
  - github.com/jontrossbach/xdp-tools
  - github.com/neoave/mrack
  - github.com/freeipa/freeipa
  - github.com/linux-system-roles/keylime_server
  - github.com/RedHat-SP-Security/keylime-selinux
  - github.com/containers/aardvark-dns
  - github.com/containers/buildah
  - github.com/containers/common
  - github.com/containers/container-selinux
  - github.com/containers/crun
  - github.com/containers/netavark
  - github.com/containers/podman
  - github.com/containers/skopeo
  - github.com/ptoscano/insights-client
  - github.com/RedHatInsights/insights-client
  - github.com/RedHatInsights/rhc
  - github.com/theforeman/foreman-installer
  - github.com/RedHatInsights/yggdrasil
  - github.com/RedHatInsights/yggdrasil-worker-package-manager
  - github.com/rear/rear
  - github.com/RedHatInsights/rhc-worker-playbook
  - github.com/RedHat-SP-Security/clevis-tests
  - github.com/rhel-lightspeed/command-line-assistant
  - github.com/InfrastructureServices/dnsconfd
  - github.com/rhkdump/kdump-utils
  - github.com/fdo-rs/fido-device-onboard-rs
  - github.com/dynup/kpatch
  - gitlab.com/dogtail/dogtail
  - github.com/RedHat-SP-Security/rsyslog-tests

command_handler: sandcastle
command_handler_work_dir: /tmp/sandcastle
command_handler_image_reference: quay.io/packit/sandcastle:prod
command_handler_k8s_namespace: packit--prod-sandbox
command_handler_pvc_volume_specs:
  - path: /repository-cache
    pvc_from_env: SANDCASTLE_REPOSITORY_CACHE_VOLUME
    read_only: true
command_handler_storage_class: aws-ebs

repository_cache: /repository-cache
# The maintenance of the cache (adding, updating) is done externally,
# not in the packit/packit-service code.
add_repositories_to_repository_cache: false

# [TODO]: Adjust, if needed, during migration of prod to MP+
appcode: PCKT-002

admins:  # GitHub usernames
  - jpopelka
  - lachmanfrantisek
  - lbarcziova
  - TomasTomecek
  - thrix  # Miro Vadkerti
  - psss  # Petr Splichal
  - csomh
  - mfocko
  - majamassarini
  - nforro

server_name: prod.packit.dev
dashboard_url: https://dashboard.packit.dev

projects_to_sync:
  - forge: https://github.com
    repo_namespace: packit
    repo_name: packit
    branch: main
    dg_branch: rawhide
    dg_repo_name: packit

  - forge: https://github.com
    repo_namespace: packit
    repo_name: ogr
    branch: main
    dg_branch: rawhide
    dg_repo_name: python-ogr

  - forge: https://github.com
    repo_namespace: packit
    repo_name: requre
    branch: main
    dg_branch: rawhide
    dg_repo_name: python-requre

default_parse_time_macros:
    fedora: 0

# [WARNING] When adding enabled projects, keep in mind they should be handled by
# »just one« instance to minimize clashing and undefined behavior, i.e., beta
# users should decide whether they're opting in for:
# - [ ] the bleeding edge (staging) instance, or
# - [X] the production instance that follows weekly release schedule.
enabled_projects_for_fedora_ci:
  - https://src.fedoraproject.org/rpms/3dprinter-udev-rules
  - https://src.fedoraproject.org/rpms/aardvark-dns
  - https://src.fedoraproject.org/rpms/act
  - https://src.fedoraproject.org/rpms/admesh
  - https://src.fedoraproject.org/rpms/admeshgui
  - https://src.fedoraproject.org/rpms/ampy
  - https://src.fedoraproject.org/rpms/auditwheel
  - https://src.fedoraproject.org/rpms/autodownloader
  - https://src.fedoraproject.org/rpms/binclock
  - https://src.fedoraproject.org/rpms/breezy
  - https://src.fedoraproject.org/rpms/buildah
  - https://src.fedoraproject.org/rpms/chafa
  - https://src.fedoraproject.org/rpms/cloudcompare
  - https://src.fedoraproject.org/rpms/conmon
  - https://src.fedoraproject.org/rpms/containers-common
  - https://src.fedoraproject.org/rpms/container-selinux
  - https://src.fedoraproject.org/rpms/crun
  - https://src.fedoraproject.org/rpms/cura
  - https://src.fedoraproject.org/rpms/CuraEngine
  - https://src.fedoraproject.org/rpms/cura-fdm-materials
  - https://src.fedoraproject.org/rpms/Cython
  - https://src.fedoraproject.org/rpms/doge
  - https://src.fedoraproject.org/rpms/du-dust
  - https://src.fedoraproject.org/rpms/ephemeral-port-reserve
  - https://src.fedoraproject.org/rpms/esh
  - https://src.fedoraproject.org/rpms/esptool
  - https://src.fedoraproject.org/rpms/fedora-obsolete-packages
  - https://src.fedoraproject.org/rpms/gcolor2
  - https://src.fedoraproject.org/rpms/git-autofixup
  - https://src.fedoraproject.org/rpms/gnome-colors-icon-theme
  - https://src.fedoraproject.org/rpms/httpie
  - https://src.fedoraproject.org/rpms/ilua
  - https://src.fedoraproject.org/rpms/ini2toml
  - https://src.fedoraproject.org/rpms/ipython
  - https://src.fedoraproject.org/rpms/joft
  - https://src.fedoraproject.org/rpms/jupyterlab
  - https://src.fedoraproject.org/rpms/levmar
  - https://src.fedoraproject.org/rpms/lib3mf
  - https://src.fedoraproject.org/rpms/libarcus
  - https://src.fedoraproject.org/rpms/libnest2d
  - https://src.fedoraproject.org/rpms/libsavitar
  - https://src.fedoraproject.org/rpms/libyaml
  - https://src.fedoraproject.org/rpms/linkchecker
  - https://src.fedoraproject.org/rpms/lmfit
  - https://src.fedoraproject.org/rpms/lua
  - https://src.fedoraproject.org/rpms/lua-rpm-macros
  - https://src.fedoraproject.org/rpms/marshalparser
  - https://src.fedoraproject.org/rpms/meshlab
  - https://src.fedoraproject.org/rpms/micropipenv
  - https://src.fedoraproject.org/rpms/micropython
  - https://src.fedoraproject.org/rpms/mkosi
  - https://src.fedoraproject.org/rpms/mpdecimal
  - https://src.fedoraproject.org/rpms/mu
  - https://src.fedoraproject.org/rpms/netavark
  - https://src.fedoraproject.org/rpms/nox
  - https://src.fedoraproject.org/rpms/numpy
  - https://src.fedoraproject.org/rpms/oci-seccomp-bpf-hook
  - https://src.fedoraproject.org/rpms/opencsg
  - https://src.fedoraproject.org/rpms/openscad
  - https://src.fedoraproject.org/rpms/pcl
  - https://src.fedoraproject.org/rpms/perl-Data-Rmap
  - https://src.fedoraproject.org/rpms/perl-ExtUtils-CppGuess
  - https://src.fedoraproject.org/rpms/perl-ExtUtils-Typemaps-Default
  - https://src.fedoraproject.org/rpms/perl-Growl-GNTP
  - https://src.fedoraproject.org/rpms/perl-Module-Build-WithXSpp
  - https://src.fedoraproject.org/rpms/perl-Wx-GLCanvas
  - https://src.fedoraproject.org/rpms/pgzero
  - https://src.fedoraproject.org/rpms/playitagainsam
  - https://src.fedoraproject.org/rpms/podman
  - https://src.fedoraproject.org/rpms/poetry
  - https://src.fedoraproject.org/rpms/poly2tri
  - https://src.fedoraproject.org/rpms/polyclipping
  - https://src.fedoraproject.org/rpms/printrun
  - https://src.fedoraproject.org/rpms/prusa-slicer
  - https://src.fedoraproject.org/rpms/py3c
  - https://src.fedoraproject.org/rpms/PyMca
  - https://src.fedoraproject.org/rpms/pyp2spec
  - https://src.fedoraproject.org/rpms/pyparsing
  - https://src.fedoraproject.org/rpms/pyproject-rpm-macros
  - https://src.fedoraproject.org/rpms/pypy
  - https://src.fedoraproject.org/rpms/pypy3.10
  - https://src.fedoraproject.org/rpms/pypy3.11
  - https://src.fedoraproject.org/rpms/pytest
  - https://src.fedoraproject.org/rpms/python3.10
  - https://src.fedoraproject.org/rpms/python3.11
  - https://src.fedoraproject.org/rpms/python3.12
  - https://src.fedoraproject.org/rpms/python3.13
  - https://src.fedoraproject.org/rpms/python3.14
  - https://src.fedoraproject.org/rpms/python3.15
  - https://src.fedoraproject.org/rpms/python3.6
  - https://src.fedoraproject.org/rpms/python3.9
  - https://src.fedoraproject.org/rpms/python3-docs
  - https://src.fedoraproject.org/rpms/python3-rpm
  - https://src.fedoraproject.org/rpms/python-aaargh
  - https://src.fedoraproject.org/rpms/python-adafruit-board-toolkit
  - https://src.fedoraproject.org/rpms/python-admesh
  - https://src.fedoraproject.org/rpms/python-appdirs
  - https://src.fedoraproject.org/rpms/python-argcomplete
  - https://src.fedoraproject.org/rpms/python-argon2-cffi
  - https://src.fedoraproject.org/rpms/python-argon2-cffi-bindings
  - https://src.fedoraproject.org/rpms/python-arpeggio
  - https://src.fedoraproject.org/rpms/python-async-lru
  - https://src.fedoraproject.org/rpms/python-attrs
  - https://src.fedoraproject.org/rpms/python-beniget
  - https://src.fedoraproject.org/rpms/python-bitcoinlib
  - https://src.fedoraproject.org/rpms/python-black
  - https://src.fedoraproject.org/rpms/python-blurb
  - https://src.fedoraproject.org/rpms/python-boolean.py
  - https://src.fedoraproject.org/rpms/python-boto3
  - https://src.fedoraproject.org/rpms/python-build
  - https://src.fedoraproject.org/rpms/python-CacheControl
  - https://src.fedoraproject.org/rpms/python-cachetools
  - https://src.fedoraproject.org/rpms/python-cairocffi
  - https://src.fedoraproject.org/rpms/python-certifi
  - https://src.fedoraproject.org/rpms/python-cffi
  - https://src.fedoraproject.org/rpms/python-charset-normalizer
  - https://src.fedoraproject.org/rpms/python-cleo
  - https://src.fedoraproject.org/rpms/python-cloudpickle
  - https://src.fedoraproject.org/rpms/python-colorzero
  - https://src.fedoraproject.org/rpms/python-comm
  - https://src.fedoraproject.org/rpms/python-crashtest
  - https://src.fedoraproject.org/rpms/python-crayons
  - https://src.fedoraproject.org/rpms/python-crypt-r
  - https://src.fedoraproject.org/rpms/python-defusedxml
  - https://src.fedoraproject.org/rpms/python-dependency-groups
  - https://src.fedoraproject.org/rpms/python-distlib
  - https://src.fedoraproject.org/rpms/python-dns
  - https://src.fedoraproject.org/rpms/python-docs-theme
  - https://src.fedoraproject.org/rpms/python-docutils
  - https://src.fedoraproject.org/rpms/python-dotenv
  - https://src.fedoraproject.org/rpms/python-editables
  - https://src.fedoraproject.org/rpms/python-elementpath
  - https://src.fedoraproject.org/rpms/python-entrypoints
  - https://src.fedoraproject.org/rpms/python-epel-rpm-macros
  - https://src.fedoraproject.org/rpms/python-ethtool
  - https://src.fedoraproject.org/rpms/python-executing
  - https://src.fedoraproject.org/rpms/python-fastjsonschema
  - https://src.fedoraproject.org/rpms/python-feedgen
  - https://src.fedoraproject.org/rpms/python-findpython
  - https://src.fedoraproject.org/rpms/python-flaky
  - https://src.fedoraproject.org/rpms/python-flexmock
  - https://src.fedoraproject.org/rpms/python-flit-core
  - https://src.fedoraproject.org/rpms/python-freezegun
  - https://src.fedoraproject.org/rpms/python-gast
  - https://src.fedoraproject.org/rpms/python-geoip2
  - https://src.fedoraproject.org/rpms/python-hatch-jupyter-builder
  - https://src.fedoraproject.org/rpms/python-hatchling
  - https://src.fedoraproject.org/rpms/python-hatch-vcs
  - https://src.fedoraproject.org/rpms/python-html5lib
  - https://src.fedoraproject.org/rpms/python-http-client
  - https://src.fedoraproject.org/rpms/python-huggingface-hub
  - https://src.fedoraproject.org/rpms/python-hypothesis
  - https://src.fedoraproject.org/rpms/python-ibm-cloud-sdk-core
  - https://src.fedoraproject.org/rpms/python-ibm-vpc
  - https://src.fedoraproject.org/rpms/python-id
  - https://src.fedoraproject.org/rpms/python-idna
  - https://src.fedoraproject.org/rpms/python-importlib-metadata
  - https://src.fedoraproject.org/rpms/python-iniconfig
  - https://src.fedoraproject.org/rpms/python-installer
  - https://src.fedoraproject.org/rpms/python-ipykernel
  - https://src.fedoraproject.org/rpms/python-ipywidgets
  - https://src.fedoraproject.org/rpms/python-jaraco-envs
  - https://src.fedoraproject.org/rpms/python-jaraco-path
  - https://src.fedoraproject.org/rpms/python-jaraco-test
  - https://src.fedoraproject.org/rpms/python-jedi
  - https://src.fedoraproject.org/rpms/python-jira
  - https://src.fedoraproject.org/rpms/python-json-logger
  - https://src.fedoraproject.org/rpms/python-jupyter-client
  - https://src.fedoraproject.org/rpms/python-jupyter-core
  - https://src.fedoraproject.org/rpms/python-jupyter-events
  - https://src.fedoraproject.org/rpms/python-jupyterlab_pygments
  - https://src.fedoraproject.org/rpms/python-jupyterlab-server
  - https://src.fedoraproject.org/rpms/python-jupyterlab-widgets
  - https://src.fedoraproject.org/rpms/python-jupyter-lsp
  - https://src.fedoraproject.org/rpms/python-jupyter-packaging
  - https://src.fedoraproject.org/rpms/python-jupyter-server
  - https://src.fedoraproject.org/rpms/python-jupyter-server-terminals
  - https://src.fedoraproject.org/rpms/python-lark
  - https://src.fedoraproject.org/rpms/python-launchpadlib
  - https://src.fedoraproject.org/rpms/python-lazr-restfulclient
  - https://src.fedoraproject.org/rpms/python-lazr-uri
  - https://src.fedoraproject.org/rpms/python-license-expression
  - https://src.fedoraproject.org/rpms/python-lockfile
  - https://src.fedoraproject.org/rpms/python-logdetective
  - https://src.fedoraproject.org/rpms/python-lxml
  - https://src.fedoraproject.org/rpms/python-lxml-html-clean
  - https://src.fedoraproject.org/rpms/python-markdown-it-py
  - https://src.fedoraproject.org/rpms/python-markupsafe
  - https://src.fedoraproject.org/rpms/python-matplotlib-inline
  - https://src.fedoraproject.org/rpms/python-maxminddb
  - https://src.fedoraproject.org/rpms/python-mdit-py-plugins
  - https://src.fedoraproject.org/rpms/python-mdurl
  - https://src.fedoraproject.org/rpms/python-microfs
  - https://src.fedoraproject.org/rpms/python-mistune
  - https://src.fedoraproject.org/rpms/python-mock
  - https://src.fedoraproject.org/rpms/python-more-itertools
  - https://src.fedoraproject.org/rpms/python-myst-parser
  - https://src.fedoraproject.org/rpms/python-nbclassic
  - https://src.fedoraproject.org/rpms/python-nbclient
  - https://src.fedoraproject.org/rpms/python-nbconvert
  - https://src.fedoraproject.org/rpms/python-nbsphinx
  - https://src.fedoraproject.org/rpms/python-nest-asyncio
  - https://src.fedoraproject.org/rpms/python-notebook
  - https://src.fedoraproject.org/rpms/python-notebook-shim
  - https://src.fedoraproject.org/rpms/python-nudatus
  - https://src.fedoraproject.org/rpms/python-numpy-stl
  - https://src.fedoraproject.org/rpms/python-packaging
  - https://src.fedoraproject.org/rpms/python-parver
  - https://src.fedoraproject.org/rpms/python-pathspec
  - https://src.fedoraproject.org/rpms/python-pbs-installer
  - https://src.fedoraproject.org/rpms/python-pdm-backend
  - https://src.fedoraproject.org/rpms/python-pickleshare
  - https://src.fedoraproject.org/rpms/python-pigpio
  - https://src.fedoraproject.org/rpms/python-pip
  - https://src.fedoraproject.org/rpms/python-pipdeptree
  - https://src.fedoraproject.org/rpms/python-pkginfo
  - https://src.fedoraproject.org/rpms/python-platformdirs
  - https://src.fedoraproject.org/rpms/python-podman
  - https://src.fedoraproject.org/rpms/python-poetry-core
  - https://src.fedoraproject.org/rpms/python-poetry-plugin-export
  - https://src.fedoraproject.org/rpms/python-posix-ipc
  - https://src.fedoraproject.org/rpms/python-pretend
  - https://src.fedoraproject.org/rpms/python-pudb
  - https://src.fedoraproject.org/rpms/python-pure-eval
  - https://src.fedoraproject.org/rpms/python-pycodestyle
  - https://src.fedoraproject.org/rpms/python-pycparser
  - https://src.fedoraproject.org/rpms/python-pygments
  - https://src.fedoraproject.org/rpms/python-pygments-pytest
  - https://src.fedoraproject.org/rpms/python-pylev
  - https://src.fedoraproject.org/rpms/python-pymongo
  - https://src.fedoraproject.org/rpms/python-pynest2d
  - https://src.fedoraproject.org/rpms/python-pyproject-api
  - https://src.fedoraproject.org/rpms/python-pyproject-hooks
  - https://src.fedoraproject.org/rpms/python-pyqtchart
  - https://src.fedoraproject.org/rpms/python-pysnooper
  - https://src.fedoraproject.org/rpms/python-pytest-console-scripts
  - https://src.fedoraproject.org/rpms/python-pytest-expect
  - https://src.fedoraproject.org/rpms/python-pytest-freezegun
  - https://src.fedoraproject.org/rpms/python-pytest-home
  - https://src.fedoraproject.org/rpms/python-pytest-jupyter
  - https://src.fedoraproject.org/rpms/python-pytest-mock
  - https://src.fedoraproject.org/rpms/python-pytest-param-files
  - https://src.fedoraproject.org/rpms/python-pytest-subprocess
  - https://src.fedoraproject.org/rpms/python-pytest-venv
  - https://src.fedoraproject.org/rpms/python-qtconsole
  - https://src.fedoraproject.org/rpms/python-QtPy
  - https://src.fedoraproject.org/rpms/python-rapidfuzz
  - https://src.fedoraproject.org/rpms/python-repoze-sphinx-autointerface
  - https://src.fedoraproject.org/rpms/python-requests
  - https://src.fedoraproject.org/rpms/python-requests-download
  - https://src.fedoraproject.org/rpms/python-rich-click
  - https://src.fedoraproject.org/rpms/python-roman-numerals-py
  - https://src.fedoraproject.org/rpms/python-rpm-generators
  - https://src.fedoraproject.org/rpms/python-rpm-macros
  - https://src.fedoraproject.org/rpms/python-scales
  - https://src.fedoraproject.org/rpms/python-scikit-build-core
  - https://src.fedoraproject.org/rpms/python-scripttest
  - https://src.fedoraproject.org/rpms/python-SecretStorage
  - https://src.fedoraproject.org/rpms/python-semantic_version
  - https://src.fedoraproject.org/rpms/python-send2trash
  - https://src.fedoraproject.org/rpms/python-setuptools
  - https://src.fedoraproject.org/rpms/python-setuptools_scm
  - https://src.fedoraproject.org/rpms/python-shellingham
  - https://src.fedoraproject.org/rpms/python-six
  - https://src.fedoraproject.org/rpms/python-sphinx
  - https://src.fedoraproject.org/rpms/python-sphinx-click
  - https://src.fedoraproject.org/rpms/python-sphinxcontrib-apidoc
  - https://src.fedoraproject.org/rpms/python-sphinxcontrib-devhelp
  - https://src.fedoraproject.org/rpms/python-sphinxcontrib-htmlhelp
  - https://src.fedoraproject.org/rpms/python-sphinxcontrib-jquery
  - https://src.fedoraproject.org/rpms/python-sphinxcontrib-qthelp
  - https://src.fedoraproject.org/rpms/python-sphinxcontrib-serializinghtml
  - https://src.fedoraproject.org/rpms/python-sphinxcontrib-websupport
  - https://src.fedoraproject.org/rpms/python-sphinx-copybutton
  - https://src.fedoraproject.org/rpms/python-sphinx-epytext
  - https://src.fedoraproject.org/rpms/python-sphinx-inline-tabs
  - https://src.fedoraproject.org/rpms/python-sphinx-last-updated-by-git
  - https://src.fedoraproject.org/rpms/python-sphinx-pytest
  - https://src.fedoraproject.org/rpms/python-sphinx-removed-in
  - https://src.fedoraproject.org/rpms/python-sphinx_rtd_theme
  - https://src.fedoraproject.org/rpms/python-sphinx-theme-alabaster
  - https://src.fedoraproject.org/rpms/python-stack-data
  - https://src.fedoraproject.org/rpms/python-terminado
  - https://src.fedoraproject.org/rpms/python-testpath
  - https://src.fedoraproject.org/rpms/python-tiktoken
  - https://src.fedoraproject.org/rpms/python-time-machine
  - https://src.fedoraproject.org/rpms/python-toml
  - https://src.fedoraproject.org/rpms/python-tomli
  - https://src.fedoraproject.org/rpms/python-tomli-w
  - https://src.fedoraproject.org/rpms/python-tomlkit
  - https://src.fedoraproject.org/rpms/python-tornado
  - https://src.fedoraproject.org/rpms/python-tox
  - https://src.fedoraproject.org/rpms/python-tox-current-env
  - https://src.fedoraproject.org/rpms/python-tox-uv
  - https://src.fedoraproject.org/rpms/python-traitlets
  - https://src.fedoraproject.org/rpms/python-trove-classifiers
  - https://src.fedoraproject.org/rpms/python-twine
  - https://src.fedoraproject.org/rpms/python-u-msgpack-python
  - https://src.fedoraproject.org/rpms/python-uranium
  - https://src.fedoraproject.org/rpms/python-urllib3
  - https://src.fedoraproject.org/rpms/python-urwid-readline
  - https://src.fedoraproject.org/rpms/python-userpath
  - https://src.fedoraproject.org/rpms/python-utils
  - https://src.fedoraproject.org/rpms/python-uv-build
  - https://src.fedoraproject.org/rpms/python-virtualenv
  - https://src.fedoraproject.org/rpms/python-virtualenv-api
  - https://src.fedoraproject.org/rpms/python-virtualenvwrapper
  - https://src.fedoraproject.org/rpms/python-wadllib
  - https://src.fedoraproject.org/rpms/python-wcag-contrast-ratio
  - https://src.fedoraproject.org/rpms/python-wcwidth
  - https://src.fedoraproject.org/rpms/python-wheel
  - https://src.fedoraproject.org/rpms/python-widgetsnbextension
  - https://src.fedoraproject.org/rpms/python-xmlschema
  - https://src.fedoraproject.org/rpms/python-zeroconf
  - https://src.fedoraproject.org/rpms/python-zipp
  - https://src.fedoraproject.org/rpms/python-zombie-imp
  - https://src.fedoraproject.org/rpms/python-zope-interface
  - https://src.fedoraproject.org/rpms/python-zope-schema
  - https://src.fedoraproject.org/rpms/pythran
  - https://src.fedoraproject.org/rpms/PyYAML
  - https://src.fedoraproject.org/rpms/qbittorrent
  - https://src.fedoraproject.org/rpms/redhat-rpm-config
  - https://src.fedoraproject.org/rpms/rpmlint
  - https://src.fedoraproject.org/rpms/rust-atomic_refcell
  - https://src.fedoraproject.org/rpms/rust-config-file
  - https://src.fedoraproject.org/rpms/rust-python-launcher
  - https://src.fedoraproject.org/rpms/rust-zram-generator
  - https://src.fedoraproject.org/rpms/scipy
  - https://src.fedoraproject.org/rpms/shared-mime-info
  - https://src.fedoraproject.org/rpms/simarrange
  - https://src.fedoraproject.org/rpms/skopeo
  - https://src.fedoraproject.org/rpms/slic3r
  - https://src.fedoraproject.org/rpms/stb
  - https://src.fedoraproject.org/rpms/stlsplit
  - https://src.fedoraproject.org/rpms/systemd
  - https://src.fedoraproject.org/rpms/thonny
  - https://src.fedoraproject.org/rpms/tldr
  - https://src.fedoraproject.org/rpms/tty-copy
  - https://src.fedoraproject.org/rpms/uflash
  - https://src.fedoraproject.org/rpms/uv
  - https://src.fedoraproject.org/rpms/vex
  - https://src.fedoraproject.org/rpms/xsimd
  - https://src.fedoraproject.org/rpms/zeal
