Host pkgs.fedoraproject.org
    Hostname pkgs.fedoraproject.org
    User packit
    IdentityFile /home/packit/.ssh/id_ed25519
    IdentitiesOnly yes

# Used for the CentOS and CentOS SIGs' dist git repositories
Host gitlab.com
    Hostname gitlab.com
    User git
    IdentityFile /home/packit/.ssh/id_ed25519
    IdentitiesOnly yes
