---
deployment: stg
debug: true
pkg_tool: centpkg
validate_webhooks: true

{{ vault.packit_service | to_nice_yaml }}

gitlab_mr_targets_handled:
- repo: packit-service/src/.+
  branch: .+

enabled_private_namespaces:
  - gitlab.com/redhat/centos-stream
  - gitlab.com/redhat/centos-stream/src

server_name: stg.stream.packit.dev
dashboard_url: https://dashboard.stg.stream.packit.dev

package_config_path_override: .distro/source-git.yaml
