# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: packit-dashboard
  annotations:
    # https://docs.openshift.com/container-platform/4.11/openshift_images/triggering-updates-on-imagestream-changes.html
    image.openshift.io/triggers: >-
      [{"from":{"kind":"ImageStreamTag","name":"packit-dashboard:{{ deployment }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"packit-dashboard\")].image"}]
spec:
  selector:
    matchLabels:
      component: packit-dashboard
  template:
    metadata:
      labels:
        component: packit-dashboard
    spec:
      containers:
        - name: packit-dashboard
          image: packit-dashboard:{{ deployment }}
          ports:
            - containerPort: 8443
          volumeMounts:
            - name: packit-secrets
              mountPath: /secrets
              readOnly: true
          env:
            - name: DEPLOYMENT
              value: {{ deployment }}
          resources:
            # requests and limits have to be the same to have Guaranteed QoS
            requests:
              memory: "128Mi"
              cpu: "20m"
            limits:
              memory: "128Mi"
              cpu: "20m"
      volumes:
        - name: packit-secrets
          secret:
            secretName: packit-secrets
  replicas: 1
  strategy:
    type: Recreate
---
apiVersion: v1
kind: Service
metadata:
  name: packit-dashboard
spec:
  ports:
    - name: packit-dashboard-https
      port: 443
      targetPort: 8443
  selector:
    component: packit-dashboard
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: packit-dashboard
spec:
  host: "{{ 'dashboard.stg.packit.dev' if deployment == 'stg' else 'dashboard.packit.dev' if deployment == 'prod'}}"
  port:
    targetPort: packit-dashboard-https
  to:
    kind: Service
    name: packit-dashboard
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: passthrough
---
kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: packit-dashboard
spec:
  tags:
    - name: {{ deployment }}
      from:
        kind: DockerImage
        name: {{ image_dashboard }}
      importPolicy:
        # Periodically query registry to synchronize tag and image metadata.
        # DOES NOT WORK on Openshift Online.
        scheduled: {{ auto_import_images }}
  lookupPolicy:
    # allows all resources pointing to this image stream to use it in the image field
    local: true
