# MIT License
#
# Copyright (c) 2018-2019 Red Hat, Inc.

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: packit-worker
spec:
  selector:
    matchLabels:
      # has to match .spec.template.metadata.labels
      name: packit-worker
      app: packit
  serviceName: "packit-worker"
  replicas: 2
  volumeClaimTemplates:
  - metadata:
      name: packit-worker-vol
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
  updateStrategy.type: RollingUpdate
  podManagementPolicy: OrderedReady
  template:
    metadata:
      labels:
        name: packit-worker
        app: packit
    spec:
      terminationGracePeriodSeconds: 10
      volumes:
      - name: packit-ssh
        secret:
          secretName: packit-ssh
      - name: packit-secrets
        secret:
          secretName: packit-secrets
      - name: packit-config
        secret:
          secretName: packit-config
      containers:
      - name: packit-worker-1
        image: {{ image_worker }}
        imagePullPolicy: IfNotPresent
        env:
          - name: APP
            value: packit_service.worker.tasks
          - name: REDIS_SERVICE_HOST
            value: redis
        volumeMounts:
        - name: packit-ssh
          mountPath: /packit-ssh
        - name: packit-secrets
          mountPath: /secrets
        - name: packit-config
          mountPath: /home/packit/.config
        - name: packit-worker-vol
          mountPath: /sandcastle
        command:
        - "/usr/bin/run_worker.sh"
        resources:
          requests:
            memory: "256Mi"
            cpu: "400m"
          limits:
            memory: "512Mi"
            cpu: "800m"
        readinessProbe:
          exec:
            command:
            - bash
            - -c
            # are there active tasks on this worker? if yes, it is not ready: sadly openshift hates this
            # - 'celery-3 -A $APP inspect active --destination "celery@$(cat /etc/hostname)" | grep empty'
            - 'celery-3 -A $APP status | grep $(cat /etc/hostname) | grep OK'
          initialDelaySeconds: 5
          periodSeconds: 5
        livenessProbe:
          exec:
            command:
            - bash
            - -c
            # does this worker respond to ping?
            - 'celery-3 -A $APP inspect ping --destination "celery@$(cat /etc/hostname)"'
          initialDelaySeconds: 5
          periodSeconds: 5
