# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
kind: DeploymentConfig
apiVersion: v1
metadata:
  labels:
    app: packit
    name: packit-service-beat
  name: packit-service-beat
spec:
  template:
    metadata:
      labels:
        name: packit-service-beat
        app: packit
    spec:
      volumes:
        - name: packit-ssh
          secret:
            secretName: packit-ssh
        - name: packit-secrets
          secret:
            secretName: packit-secrets
        - name: packit-config
          secret:
            secretName: packit-config
      containers:
        - name: packit-service-beat
          image: packit-worker:{{ deployment }}
          env:
            - name: DEPLOYMENT
              value: {{ deployment }}
            - name: APP
              value: {{ celery_app }}
            - name: REDIS_SERVICE_HOST
              value: redis
            - name: POSTGRESQL_USER
              valueFrom: {secretKeyRef: {name: postgres-secret, key: database-user}}
            - name: POSTGRESQL_PASSWORD
              valueFrom: {secretKeyRef: {name: postgres-secret, key: database-password}}
            - name: POSTGRESQL_HOST
              valueFrom: {secretKeyRef: {name: postgres-secret, key: database-host}}
            - name: POSTGRESQL_DATABASE
              valueFrom: {secretKeyRef: {name: postgres-secret, key: database-name}}
            - name: SENTRY_SECRET
              valueFrom: {secretKeyRef: {name: packit-sentry, key: sentry}}
            - name: CELERY_COMMAND
              value: beat
          volumeMounts:
            - name: packit-ssh
              mountPath: /packit-ssh
            - name: packit-secrets
              mountPath: /secrets
            - name: packit-config
              mountPath: /home/packit/.config
          command:
            - "/usr/bin/run_worker.sh"
          resources:
            # requests and limits have to be the same to have Guaranteed QoS
            requests:
              memory: "150Mi"
              cpu: "80m"
            limits:
              memory: "150Mi"
              cpu: "80m"
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - packit-service-beat
        from:
          kind: ImageStreamTag
          name: packit-worker:{{ deployment }}
  replicas: 1
  strategy:
    type: Recreate
