# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: packit-service-beat
  annotations:
    # https://docs.openshift.com/container-platform/4.11/openshift_images/triggering-updates-on-imagestream-changes.html
    image.openshift.io/triggers: >-
      [{"from":{"kind":"ImageStreamTag","name":"packit-worker:{{ deployment }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"packit-service-beat\")].image"}]
spec:
  selector:
    matchLabels:
      component: packit-service-beat
  template:
    metadata:
      labels:
        component: packit-service-beat
{% if managed_platform %}
        paas.redhat.com/appcode: {{ appcode }}
{% endif %}
    spec:
      volumes:
        - name: packit-ssh
          secret:
            secretName: packit-ssh
        - name: packit-secrets
          secret:
            secretName: packit-secrets
        - name: packit-config
          secret:
            secretName: packit-config
      containers:
        - name: packit-service-beat
          image: packit-worker:{{ deployment }}
          env:
            - name: DEPLOYMENT
              value: {{ deployment }}
            - name: APP
              value: {{ celery_app }}
            - name: REDIS_SERVICE_HOST
              value: {{ redis_hostname }}
            - name: POSTGRESQL_USER
              valueFrom: {secretKeyRef: {name: postgres-secret, key: database-user}}
            - name: POSTGRESQL_PASSWORD
              valueFrom: {secretKeyRef: {name: postgres-secret, key: database-password}}
            - name: POSTGRESQL_HOST
              valueFrom: {secretKeyRef: {name: postgres-secret, key: database-host}}
            - name: POSTGRESQL_DATABASE
              valueFrom: {secretKeyRef: {name: postgres-secret, key: database-name}}
            - name: SENTRY_SECRET
              valueFrom: {secretKeyRef: {name: sentry, key: dsn}}
            - name: CELERY_COMMAND
              value: beat
          volumeMounts:
            - name: packit-ssh
              mountPath: /packit-ssh
              readOnly: true
            - name: packit-secrets
              mountPath: /secrets
              readOnly: true
            - name: packit-config
              mountPath: /home/packit/.config
              readOnly: true
          command:
            - "/usr/bin/run_worker.sh"
          resources:
            requests:
              memory: "160Mi"
              cpu: "5m"
              ephemeral-storage: "80Ki"
            limits:
              memory: "256Mi"
              cpu: "50m"
  replicas: 1
  strategy:
    type: Recreate
