# MIT License
#
# Copyright (c) 2018-2019 Red Hat, Inc.
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

# https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/how_deployments_work.html
kind: DeploymentConfig
apiVersion: v1
metadata:
  labels:
    app: packit
    name: packit-service-centosmsg
  name: packit-service-centosmsg
spec:
  template:
    metadata:
      labels:
        name: packit-service-centosmsg
        app: packit
    spec:
      volumes:
        - name: centos-secrets
          secret:
            secretName: centos-secrets
      containers:
        - name: packit-service-centosmsg
          image: packit-service-centosmsg:{{ deployment }}
          env:
            - name: DEPLOYMENT
              value: {{ deployment }}
            - name: MQTT_HOST
              value: {{ "mqtt.git.centos.org" if deployment == "prod" else "mqtt.stg.centos.org" }}
            - name: MQTT_TOPICS
              value: {{ "git.centos.org/#" if deployment == "prod" else "git.stg.centos.org/#" }}
            - name: MQTT_SUBTOPICS
              value: pull-request
            - name: LOG_LEVEL
              value: INFO
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: aws
                  key: access-key-id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: aws
                  key: secret-access-key
            - name: SENTRY_SECRET
              valueFrom:
                secretKeyRef:
                  name: packit-sentry
                  key: sentry
          volumeMounts:
            - name: centos-secrets
              mountPath: /secrets
          command:
            - "listen-to-centos-messaging"
          resources:
            limits:
              memory: "80Mi"
              cpu: "100m"
  # https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/basic_deployment_operations.html#image-change-trigger
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - packit-service-centosmsg
        from:
          kind: ImageStreamTag
          name: packit-service-centosmsg:{{ deployment }}
  replicas: 1
  strategy:
    type: Recreate
---
kind: ImageStream
apiVersion: v1
metadata:
  name: packit-service-centosmsg
spec:
  tags:
    - name: {{ deployment }}
      from:
        kind: DockerImage
        name: {{ image_centosmsg }}
      importPolicy:
        # Periodically query registry to synchronize tag and image metadata.
        scheduled: {{ auto_import_images }}
  lookupPolicy:
    # allows all resources pointing to this image stream to use it in the image field
    local: true
