# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

# https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/how_deployments_work.html
kind: DeploymentConfig
apiVersion: v1
metadata:
  labels:
    app: packit
    name: packit-service-fedmsg
  name: packit-service-fedmsg
spec:
  template:
    metadata:
      labels:
        name: packit-service-fedmsg
        app: packit
    spec:
      volumes:
        - name: packit-ssh
          secret:
            secretName: packit-ssh
        - name: packit-secrets
          secret:
            secretName: packit-secrets
        - name: packit-config
          secret:
            secretName: packit-config
      containers:
        - name: packit-service-fedmsg
          image: packit-service-fedmsg:{{ deployment }}
          imagePullPolicy: Always
          env:
            - name: FEDORA_MESSAGING_CONF
              value: /home/packit/.config/fedora.toml
            - name: REDIS_SERVICE_HOST
              value: redis
            - name: DEPLOYMENT
              value: {{ deployment }}
            - name: SENTRY_SECRET
              valueFrom:
                secretKeyRef:
                  name: packit-sentry
                  key: sentry
          volumeMounts:
            - name: packit-ssh
              mountPath: /packit-ssh
            - name: packit-secrets
              mountPath: /secrets
            - name: packit-config
              mountPath: /home/packit/.config
          command:
            - "listen-to-fedora-messaging"
          resources:
            # requests and limits have to be the same to have Guaranteed QoS
            requests:
              memory: "80Mi"
              cpu: "100m"
            limits:
              memory: "80Mi"
              cpu: "100m"
  # https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/basic_deployment_operations.html#image-change-trigger
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - packit-service-fedmsg
        from:
          kind: ImageStreamTag
          name: packit-service-fedmsg:{{ deployment }}
  replicas: 1
  strategy:
    type: Recreate
---
kind: ImageStream
apiVersion: v1
metadata:
  name: packit-service-fedmsg
spec:
  tags:
    - name: {{ deployment }}
      from:
        kind: DockerImage
        name: {{ image_fedmsg }}
      importPolicy:
        # Periodically query registry to synchronize tag and image metadata.
        scheduled: {{ auto_import_images }}
  lookupPolicy:
    # allows all resources pointing to this image stream to use it in the image field
    local: true
