# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: packit-service-fedmsg
  annotations:
    # https://docs.openshift.com/container-platform/4.11/openshift_images/triggering-updates-on-imagestream-changes.html
    image.openshift.io/triggers: >-
      [{"from":{"kind":"ImageStreamTag","name":"packit-service-fedmsg:{{ deployment }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"packit-service-fedmsg\")].image"}]
spec:
  selector:
    matchLabels:
      component: packit-service-fedmsg
  template:
    metadata:
      labels:
        component: packit-service-fedmsg
    spec:
      volumes:
        - name: packit-config
          secret:
            secretName: packit-config
      containers:
        - name: packit-service-fedmsg
          image: packit-service-fedmsg:{{ deployment }}
          env:
            - name: FEDORA_MESSAGING_CONF
              value: /home/packit/.config/fedora.toml
            - name: REDIS_SERVICE_HOST
              value: redis
            - name: DEPLOYMENT
              value: {{ deployment }}
            - name: SENTRY_SECRET
              valueFrom: {secretKeyRef: {name: sentry, key: dsn}}
          volumeMounts:
            - name: packit-config
              mountPath: /home/packit/.config
          resources:
            # requests and limits have to be the same to have Guaranteed QoS
            requests:
              memory: "80Mi"
              cpu: "20m"
            limits:
              memory: "80Mi"
              cpu: "20m"
  replicas: 1
  strategy:
    type: Recreate
---
kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: packit-service-fedmsg
spec:
  tags:
    - name: {{ deployment }}
      from:
        kind: DockerImage
        name: {{ image_fedmsg }}
      importPolicy:
        # Periodically query registry to synchronize tag and image metadata.
        scheduled: {{ auto_import_images }}
  lookupPolicy:
    # allows all resources pointing to this image stream to use it in the image field
    local: true
