# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

# https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/how_deployments_work.html
kind: DeploymentConfig
apiVersion: v1
metadata:
  labels:
    app: packit
    name: packit-service
  name: packit-service
spec:
  template:
    metadata:
      labels:
        name: packit-service
        app: packit
    spec:
      volumes:
        - name: packit-secrets
          secret:
            secretName: packit-secrets
        - name: packit-config
          secret:
            secretName: packit-config
      containers:
        - name: packit-service
          image: packit-service:{{ deployment }}
          ports:
            - containerPort: 8443
              protocol: TCP
          env:
            - name: DEPLOYMENT
              value: {{ deployment }}
            - name: DISTGIT_URL
              value: {{ distgit_url }}
            - name: DISTGIT_NAMESPACE
              value: {{ distgit_namespace }}
            - name: REDIS_SERVICE_HOST
              value: redis
            - name: POSTGRESQL_USER
              valueFrom:
                secretKeyRef:
                  key: database-user
                  name: postgres-secret
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database-password
                  name: postgres-secret
            - name: POSTGRESQL_HOST
              valueFrom:
                secretKeyRef:
                  key: database-host
                  name: postgres-secret
            - name: POSTGRESQL_DATABASE
              valueFrom:
                secretKeyRef:
                  key: database-name
                  name: postgres-secret
            - name: SENTRY_SECRET
              valueFrom:
                secretKeyRef:
                  name: packit-sentry
                  key: sentry
          volumeMounts:
            - name: packit-secrets
              mountPath: /secrets
            - name: packit-config
              mountPath: /home/packit/.config
          command:
            - /usr/bin/run_httpd.sh
          resources:
            # requests and limits have to be the same to have Guaranteed QoS
            requests:
              memory: "196Mi"
              cpu: "200m"
            limits:
              # run_httpd.sh does 'alembic upgrade head' which might require more memory
              # If you see '/usr/bin/run_httpd.sh: line 16:   Killed     alembic upgrade head'
              # you have to temporarily increase the limit (last time 512M was enough),
              # and once the alembic upgrade passes, revert.
              memory: "196Mi"
              cpu: "200m"
          # In TLS world, hostname needs to match whatever is set in the cert
          # in our cause, k8s is doing here something like curl https://172.15.2.4:8443/api/healthz/
          # which will fail TLS validation.
          # So we need to connect to prod.packit.dev.
          #   Liveness probe failed: Get https://10.131.30.42:8443/api/healthz/: local error: tls: no renegotiation
          # Comment probes out, they just don't work.
          # readinessProbe:
          #   httpGet:
          #     host: {{ deployment }}.packit.dev
          #     scheme: HTTPS
          #     path: /api/healthz/
          #   initialDelaySeconds: 10
          # livenessProbe:
          #   httpGet:
          #     host: {{ deployment }}.packit.dev
          #     scheme: HTTPS
          #     path: /api/healthz/
          #   initialDelaySeconds: 30
  # https://docs.openshift.com/container-platform/3.11/dev_guide/deployments/basic_deployment_operations.html#image-change-trigger
  triggers:
    - type: ConfigChange
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - packit-service
        from:
          kind: ImageStreamTag
          name: packit-service:{{ deployment }}
  replicas: 1
  strategy:
    type: Recreate
---
apiVersion: v1
kind: Service
metadata:
  name: packit-service
spec:
  selector:
    name: packit-service
    app: packit
  ports:
    - name: prod-packit
      port: 443
      protocol: TCP
      targetPort: 8443
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: packit
    name: packit-service
  name: packit-service
spec:
# for local deployment (dev) creates default route for testing.
# e.g https://packit-service-myproject.127.0.0.1.nip.io/
# For dev/prod creates host {dev,prod}.packit.dev
{% if deployment != 'dev' %}
  host: "{{ deployment }}.{{ service+'.' if service != 'packit' else '' }}packit.dev"
{% endif %}

  port:
    targetPort: prod-packit
  to:
    kind: Service
    name: packit-service
  tls:
    # not sure about this one, whether we should do it in httpd or here
    insecureEdgeTerminationPolicy: Redirect
    termination: passthrough
---
# https://docs.openshift.com/container-platform/3.11/dev_guide/managing_images.html#writing-image-stream-definitions
kind: ImageStream
apiVersion: v1
metadata:
  name: packit-service
spec:
  tags:
    - name: {{ deployment }}
      from:
        kind: DockerImage
        name: {{ image }}
      importPolicy:
        # Periodically query registry to synchronize tag and image metadata.
        scheduled: {{ auto_import_images }}
  lookupPolicy:
    # allows all resources pointing to this image stream to use it in the image field
    local: true
