# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT
---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: postgres-13
  labels:
    service: postgres-13
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    service: postgres-13
  template:
    metadata:
      labels:
        service: postgres-13
        name: postgres-13
    spec:
      containers:
        - env:
            - name: POSTGRESQL_USER
              valueFrom:
                secretKeyRef:
                  key: database-user
                  name: postgres-secret
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database-password
                  name: postgres-secret
            - name: POSTGRESQL_DATABASE
              valueFrom:
                secretKeyRef:
                  key: database-name
                  name: postgres-secret
            # https://www.postgresql.org/docs/13/kernel-resources.html#LINUX-MEMORY-OVERCOMMIT
            - name: PG_OOM_ADJUST_FILE
              value: "/proc/self/oom_score_adj"
            - name: POSTGRESQL_MAX_CONNECTIONS
              value: "20"
          image: quay.io/centos7/postgresql-13-centos7
          imagePullPolicy: IfNotPresent
          name: postgres
          ports:
            - containerPort: 5432
              protocol: TCP
          livenessProbe:
            exec:
              command:
                - /usr/libexec/check-container
                - --live
            failureThreshold: 3
            initialDelaySeconds: 120
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
#          readinessProbe:
#            exec:
#              command:
#                - /usr/libexec/check-container
#            failureThreshold: 3
#            initialDelaySeconds: 5
#            periodSeconds: 10
#            successThreshold: 1
#            timeoutSeconds: 1
          resources:
            requests:
              memory: "{{ '512Mi' if deployment == 'prod' else '256Mi' }}"
              cpu: "{{ '400m' if deployment == 'prod' else '100m' }}"
            limits:
              memory: "{{ '512Mi' if deployment == 'prod' else '256Mi' }}"
              cpu: "{{ '400m' if deployment == 'prod' else '100m' }}"
          volumeMounts:
            - mountPath: /var/lib/pgsql/data
              name: postgres-data
      restartPolicy: Always
      volumes:
        - name: postgres-data
          persistentVolumeClaim:
            claimName: postgres-13
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  ports:
    - name: postgres-port
      port: 5432
      targetPort: 5432
  selector:
    service: postgres-13
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-13
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ '4Gi' if deployment == 'prod' else '1Gi' }}"
