# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: pushgateway
  annotations:
    # https://docs.openshift.com/container-platform/4.11/openshift_images/triggering-updates-on-imagestream-changes.html
    image.openshift.io/triggers: >-
      [{"from":{"kind":"ImageStreamTag","name":"pushgateway:{{ deployment }}"},"fieldPath":"spec.template.spec.containers[?(@.name==\"pushgateway\")].image"}]
spec:
  selector:
    matchLabels:
      component: pushgateway
  template:
    metadata:
      labels:
        component: pushgateway
{% if managed_platform %}
        paas.redhat.com/appcode: {{ appcode }}
{% endif %}
    spec:
      containers:
        - name: pushgateway
          image: pushgateway:{{ deployment }}
          args:
            - "--apiListen=:9091"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9091
          resources:
            requests:
              memory: "16Mi"
              cpu: "5m"
            limits:
              memory: "32Mi"
              cpu: "10m"
  replicas: 1
  strategy:
    type: Recreate

---
apiVersion: v1
kind: Service
metadata:
  name: pushgateway
{% if managed_platform %}
  labels:
    paas.redhat.com/appcode: {{ appcode }}
{% endif %}
spec:
  ports:
    - name: prometheus-push
      port: 80
      protocol: TCP
      targetPort: 9091
  selector:
    component: pushgateway
---
kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: pushgateway
spec:
  tags:
    - name: {{ deployment }}
      from:
        kind: DockerImage
        name: ghcr.io/zapier/prom-aggregation-gateway:v0.7.0
      importPolicy:
        # Periodically query registry to synchronize tag and image metadata.
        # DOES NOT WORK on Openshift Online.
        scheduled: {{ auto_import_images }}
  lookupPolicy:
    # allows all resources pointing to this image stream to use it in the image field
    local: true
