# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT
---
kind: DeploymentConfig
apiVersion: v1
metadata:
  labels:
    app: packit
    name: pushgateway
  name: pushgateway
spec:
  template:
    metadata:
      labels:
        name: pushgateway
        app: packit
    spec:
      containers:
        - name: pushgateway
          image: weaveworks/prom-aggregation-gateway
          args:
            - "--listen=:9091"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 9091
          resources:
            # requests and limits have to be the same to have Guaranteed QoS
            requests:
              memory: "80Mi"
              cpu: "50m"
            limits:
              memory: "80Mi"
              cpu: "50m"
  replicas: 1
  strategy:
    type: Recreate

---
apiVersion: v1
kind: Service
metadata:
  name: pushgateway
spec:
  selector:
    name: pushgateway
    app: packit
  ports:
    - name: prometheus-push
      port: 80
      protocol: TCP
      targetPort: 9091
