# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: redis
{% if managed_platform %}
  labels:
    app-code: "{{ appcode }}"
    service-phase: "{{ servicephase }}"
    cost-center: "{{ costcenter }}"
{% endif %}
spec:
  selector:
    matchLabels:
      component: redis
  template:
    metadata:
      labels:
        component: redis
{% if managed_platform %}
        paas.redhat.com/appcode: {{ appcode }}
{% endif %}
    spec:
      containers:
        - name: redis
          image: quay.io/sclorg/redis-7-c9s:c9s
          ports:
            - containerPort: 6379
          volumeMounts:
            - mountPath: /var/lib/redis/data
              name: redis-pv
          resources:
            # requests and limits have to be the same to have Guaranteed QoS
            requests:
              memory: "64Mi"
              cpu: "10m"
            limits:
              memory: "64Mi"
              cpu: "10m"
      volumes:
        - name: redis-pv
          persistentVolumeClaim:
            claimName: redis-pvc
  replicas: 1
  strategy:
    type: Recreate
---
apiVersion: v1
kind: Service
metadata:
  name: redis
{% if managed_platform %}
  labels:
    paas.redhat.com/appcode: {{ appcode }}
{% endif %}
spec:
  ports:
    - name: "6379"
      port: 6379
      targetPort: 6379
  selector:
    component: redis
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
{% if managed_platform %}
  labels:
    paas.redhat.com/appcode: {{ appcode }}
  annotations:
    kubernetes.io/reclaimPolicy: Delete
{% endif %}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
{% if managed_platform %}
  storageClassName: aws-ebs
{% endif %}
