# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: redis
spec:
  selector:
    matchLabels:
      component: redis
  template:
    metadata:
      labels:
        component: redis
        paas.redhat.com/appcode: {{ appcode }}
    spec:
      containers:
        - name: redis
          image: quay.io/sclorg/redis-6-c9s
          ports:
            - containerPort: 6379
          volumeMounts:
            - mountPath: /var/lib/redis/data
              name: redis-pv
          resources:
            # requests and limits have to be the same to have Guaranteed QoS
            requests:
              memory: "32Mi"
              cpu: "10m"
            limits:
              memory: "32Mi"
              cpu: "10m"
      volumes:
        - name: redis-pv
          persistentVolumeClaim:
            claimName: redis-pvc
  replicas: 1
  strategy:
    type: Recreate
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  labels:
    paas.redhat.com/appcode: {{ appcode }}
spec:
  ports:
    - name: "6379"
      port: 6379
      targetPort: 6379
  selector:
    component: redis
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-pvc
  labels:
    paas.redhat.com/appcode: {{ appcode }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
