# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: project.openshift.io/v1
kind: Project
metadata:
  name: {{ sandbox_namespace }}
spec:
  finalizers:
    - kubernetes
