# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "sandcastle-repository-cache-{{ name }}"
{% if managed_platform %}
  labels:
    paas.redhat.com/appcode: {{ appcode }}
  annotations:
    kubernetes.io/reclaimPolicy: Delete
{% endif %}
spec:
  # The only option on OpenShift Online is AWS EBS provisioning
  # supporting only `ReadWriteOnce` access:
  # https://docs.openshift.com/online/pro/architecture/additional_concepts/storage.html#pv-restrictions
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: {{ repository_cache_storage }}
{% if managed_platform %}
  storageClassName: aws-ebs
{% endif %}
