# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: splunk
type: Opaque
data:
  hec-host: "{{ vault.splunk.hec.host | b64encode }}"
  hec-port: "{{ vault.splunk.hec.port | b64encode }}"
  hec-token: "{{ vault.splunk.hec.token | b64encode }}"
