# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: flower-secret
type: Opaque
data:
  flower-basic-auth: "{{ vault.flower.basic_auth | b64encode }}"
