# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  database-user: "{{ postgres_user | b64encode }}"
  database-password: "{{ postgres_password | b64encode }}"
  database-host: "{{ postgres_host | b64encode }}"
  database-name: "{{ postgres_database_name | b64encode }}"
