# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: packit-config
type: Opaque
data:
  packit-service.yaml: "{{ lookup('file', '{{ path_to_secrets }}/{{ deployment }}/packit-service.yaml') | b64encode }}"
{% if service == 'packit' %}
  copr: "{{ lookup('file', '{{ path_to_secrets }}/{{ deployment }}/copr') | b64encode }}"
  fedora.toml: "{{ lookup('file', '{{ path_to_secrets }}/{{ deployment }}/fedora.toml') | b64encode }}"
{% endif %}
