# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: packit-ssh
type: Opaque
data:
  id_rsa: "{{ lookup('file', '{{ path_to_secrets }}/id_rsa') | b64encode }}"
  id_rsa.pub: "{{ lookup('file', '{{ path_to_secrets }}/id_rsa.pub') | b64encode }}"
{% if service == 'packit' %}
  config: "{{ lookup('file', '{{ path_to_secrets }}/ssh_config') | b64encode }}"
{% endif %}
