# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: redis-commander-secret
type: Opaque
data:
  redis-commander-user: "{{ redis_commander_user | b64encode }}"
  redis-commander-password: "{{ redis_commander_password | b64encode }}"
