# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: rebuild-base-image
type: Opaque
data:
  base_build_webhook: "{{ base_build_webhook | b64encode }}"
