# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: packit-sentry
type: Opaque
data:
  sentry: "{{ lookup('file', '{{ path_to_secrets }}/sentry_key', rstrip=False) | b64encode }}"
