# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: packit-ssh
type: Opaque
data:
  id_ed25519: "{{ lookup('file', '{{ path_to_secrets }}/id_ed25519', rstrip=False) | b64encode }}"
  id_ed25519.pub: "{{ lookup('file', '{{ path_to_secrets }}/id_ed25519.pub', rstrip=False) | b64encode }}"
{% if service == 'packit' %}
  config: "{{ lookup('file', '{{ path_to_secrets }}/ssh_config', rstrip=False) | b64encode }}"
{% endif %}
