# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: redis-commander-secret
type: Opaque
data:
  redis-commander-user: "{{ vault.redis_commander.user | b64encode }}"
  redis-commander-password: "{{ vault.redis_commander.password | b64encode }}"
