# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT
---
apiVersion: v1
kind: Secret
metadata:
  name: metrics-secret
type: Opaque
data:
  .htpasswd: "{{ lookup('file', '{{ path_to_secrets }}/{{ deployment }}/.htpasswd') | b64encode }}"
