# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: packit-secrets
type: Opaque
data:
  # *.packit.dev TLS certs
  privkey.pem: "{{ lookup('file', '{{ path_to_secrets }}/privkey.pem', rstrip=False) | b64encode }}"
  fullchain.pem: "{{ lookup('file', '{{ path_to_secrets }}/fullchain.pem', rstrip=False) | b64encode }}"
{% if service == 'packit' %}
  fedora.keytab: "{{ lookup('file', '{{ path_to_secrets }}/fedora.keytab', rstrip=False) | b64encode }}"
{% endif %}
