# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  database-user: "{{ vault.postgres.user | b64encode }}"
  database-password: "{{ vault.postgres.password | b64encode }}"
  database-host: "{{ vault.postgres.host | b64encode }}"
  database-name: "{{ vault.postgres.database | b64encode }}"
