# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: centpkg-sig
type: Opaque
data:
  centpkg-sig.conf: "{{ lookup('template', '{{ path_to_secrets }}/centpkg-sig.conf.j2', rstrip=False) | b64encode }}"
