# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: packit-config
type: Opaque
data:
  packit-service.yaml: "{{ lookup('template', '{{ path_to_secrets }}/packit-service.yaml.j2', rstrip=False) | b64encode }}"
{% if service == 'packit' %}
  copr: "{{ lookup('file', '{{ path_to_secrets }}/copr', rstrip=False) | b64encode }}"
{% endif %}
{% if service != 'stream' %}
  fedora.toml: "{{ lookup('file', '{{ path_to_secrets }}/fedora.toml', rstrip=False) | b64encode }}"
{% endif %}
