# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: aws
type: Opaque
data:
  access-key-id: "{{ aws_access_key_id | b64encode }}"
  secret-access-key: "{{ aws_secret_access_key | b64encode }}"
