# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: sentry
type: Opaque
data:
  dsn: "{{ vault.sentry.dsn | b64encode }}"
