# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: packit-secrets
type: Opaque
data:
  # *.packit.dev TLS certs
  privkey.pem: "{{ lookup('file', '{{ path_to_secrets }}/{{ deployment }}/privkey.pem') | b64encode }}"
  fullchain.pem: "{{ lookup('file', '{{ path_to_secrets }}/{{ deployment }}/fullchain.pem') | b64encode }}"
{% if service == 'packit' %}
  fedora.keytab: "{{ lookup('file', '{{ path_to_secrets }}/{{ deployment }}/fedora.keytab') | b64encode }}"
{% endif %}
