# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: loki
type: Opaque
data:
  username: "{{ loki_username | b64encode }}"
  password: "{{ loki_password | b64encode }}"
