# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: splunk
type: Opaque
data:
  hec-host: "{{ splunk_hec_host | b64encode }}"
  hec-port: "{{ splunk_hec_port | b64encode }}"
  hec-token: "{{ splunk_hec_token | b64encode }}"
