# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

---
apiVersion: v1
kind: Secret
metadata:
  name: flower-htpasswd
type: Opaque
data:
  htpasswd: "{{ lookup('file', '{{ flower_htpasswd_path }}', rstrip=False) | b64encode }}"
