# Copyright Contributors to the Packit project.
# SPDX-License-Identifier: MIT

# Causes re-deployment of components with newer image available.
- name: Import newer images metadata from registry into image streams
  hosts: all
  vars:
    service: "{{ lookup('env', 'SERVICE') | default('packit', True) }}"
    deployment: "{{ lookup('env', 'DEPLOYMENT') }}"
    with_fedmsg: true
    with_dashboard: true
    with_tokman: true
  tasks:
    - name: Include variables
      ansible.builtin.include_vars: ../vars/{{ service }}/{{ deployment }}.yml

    - name: Login
      ansible.builtin.command: oc login {{ host }} --token={{ api_key }} --insecure-skip-tls-verify
      # it doesn't change anything, so don't report 'changed'
      changed_when: false

    - name: Check/import newer packit-service image into image stream
      ansible.builtin.command: oc import-image is/packit-service:{{ deployment }} -n {{ service }}-{{ deployment }}
      changed_when: true

    - name: Check/import newer packit-worker image into image stream
      ansible.builtin.command: oc import-image is/packit-worker:{{ deployment }} -n {{ service }}-{{ deployment }}
      changed_when: true

    - name: Check/import newer packit-service-fedmsg image into image stream
      ansible.builtin.command: oc import-image is/packit-service-fedmsg:{{ deployment }} -n {{ service }}-{{ deployment }}
      when: with_fedmsg
      changed_when: true

    - name: Check/import newer dashboard image into image stream
      ansible.builtin.command: oc import-image is/packit-dashboard:{{ deployment }} -n {{ service }}-{{ deployment }}
      when: with_dashboard
      changed_when: true

    - name: Check/import newer tokman image into image stream
      ansible.builtin.command: oc import-image is/tokman:{{ deployment }} -n {{ service }}-{{ deployment }}
      when: with_tokman
      changed_when: true
